    body {
    margin:0;
    }
    h1 {
        font-color:rgb(164, 26, 206);
        border-bottom:3px solid rgb(232, 255, 24);
        font-size:40px;
        text-align: center;
        margin:0;
        padding:10px;   
    }
    h2 {
        font-size:20px;
    }
    ul {
        color:rgb(255, 98, 195);
        font-size: 20px;
        border-right:3px solid  rgb(255, 145, 0);
        margin:0; 
        padding-top:20px;
        padding-left:30px;
        line-height: 1.5;
    }
    #grid{
        display:grid;
        grid-template-columns: 160px 2fr;
    }
    .cdwh{
        font-size:15px;
    }
    a:link {
        color: rgb(184, 20, 121);
    }
    a:visited {      
        color: rgb(29, 187, 161);
    }

    @media(max-width:700px){
    #grid{
        display: block;
        margin:0;
    }
    ul{
        border-right:none;

    }
    }

 