    body {
    margin:0;
    }
    h1 {
        font-color:rgb(164, 26, 206);
        border-bottom:3px solid rgb(0, 247, 255);
        font-size:40px;
        text-align:left;
        margin:0;
        padding:10px;   
        padding-left:150px;
        background-image:url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20140709_102%2Frebekah1222_1404907420648dxMgw_JPEG%2F%25BE%25D8%25B5%25F0%25BF%25F6%25C8%25A63.jpg&type=sc960_832');
        /*background-image:url('https://imgnews.pstatic.net/image/001/2009/12/11/PYH2009121102980001300_P2.jpg?type=w647');*/
        /*bbackground-repeat: no-repeat;
        background-position: 300px 0;*/
        width: 270px;
        height: 50px;
        /*border:1px solid blue;*/
    }
    h2 {
        font-size:20px;
        background-color: rgb(239, 255, 147);
    }
    ul {
        color:rgb(255, 98, 195);
        font-size: 20px;
        border-right:3px solid rgb(0, 247, 255);
        margin:0; 
        padding-top:10px;
        padding-left:30px;
        padding-bottom:10px;
        line-height: 1.5; 
        border-bottom:3px solid rgb(0, 247, 255);
        }
    #grid{
        display:grid;
        grid-template-columns: 160px 2fr;
    }
    .cdwh{
        font-size:15px;
        background-color: rgb(252, 255, 232);
    }
    a:link {
        color: rgb(17, 243, 9);
    }
    a:visited {      
        color: rgb(255, 136, 0);
    }

    @media(max-width:500px){
    
    #grid{
        display: block;
        margin:0;
        border-right:none;
    }
    }

 